/* This is CSS for top three boxes */
.threebox{
    height: 15rem;
    width: 35rem;
    padding: 1rem;
    margin: .5rem;
    background-color: #00989D;
}
#threebox{
    display: flex;
    justify-content: space-between;
}
/* This is CSS for large bottom box */
.onebox{
    height: 40rem;
    width: 107.4rem;
    background-color: #00989D;
    padding: 1rem;
    margin: .5rem;
    position: relative;
}
/* This is CSS for long skinny bottom box*/
.longbox{
    height: .5rem;
    width: 107.4rem;
    background-color: #C9E265;
    padding: 1rem;
    margin: .5rem;
}
.circle{
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.circle1{
    background-color: #fe8888;
    width: 5rem;
    height: 5rem;
    top: 5rem;
    left: 2rem;
    z-index: 1;
}
.circle2{
    background-color: yellow;
    width: 8rem;
    height: 8rem;
    top: 8rem;
    left: 15rem;
    z-index: 1;
}
