/* This is CSS for top three boxes */
.threebox{
    height: 15rem;
    width: 35rem;
    padding: 1rem;
    margin: .5rem;
    background-color: #00989D;
}
#threebox{
    display: flex;
    justify-content: space-between;
}
/* This is CSS for large bottom box */
.onebox{
    height: 40rem;
    width: 107.4rem;
    background-color: #00989D;
    padding: 1rem;
    margin: .5rem;
    position: relative;
}
/* This is CSS for long skinny bottom box*/
.longbox{
    height: .5rem;
    width: 107.4rem;
    background-color: #C9E265;
    padding: 1rem;
    margin: .5rem;
}
.circle{
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.circle1{
    background-color: #fe8888;
    width: 5rem;
    height: 5rem;
    top: 5rem;
    left: 2rem;
    z-index: 1;
}
.circle2{
    background-color: yellow;
    width: 8rem;
    height: 8rem;
    top: 8rem;
    left: 15rem;
    z-index: 1;
}
#figure-2{
    position: absolute;
    bottom: 0px;
    width:300px;
    z-index: 1;
}
.triangle{
    position: absolute;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 0 250px;
    height: 0;
    z-index: 1;
    width: 0;
    border-bottom: 200px solid #c9e265;
    border-left: 100px solid transparent;
    border-right:100px solid transparent;
}